<html>
  <head>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Welcome Email</title>
    <style>
      .img{ width: 150px; height: 150px; } .code{margin-left: 10px; font-weight:
      600} .container{ display: flex; flex-direction: row; }
    </style>
  </head>
  <body>
    <img
      class="img"
      src="https://img.freepik.com/premium-vector/abstract-modern-ecommerce-logo-design-colorful-gradient-shopping-bag-logo-template_467913-995.jpg?w=2000"
    />
    <h2 class="test">This is the OTP for your account registration</h2>
    <div class="container">

      <p>OTP: <p class="code">{{otp}}</p>. </p>
    </div>

  </body>
</html>